@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    color-scheme: dark;
  }
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  color-scheme: dark;
}

html.light {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fira-code), monospace;
}
